body {
}

h1 {

background-image: url("../images/pattern.jpeg");
background-repeat: no-repeat;
text-align: center;

font-family: Helvetica;
font-size: 60px;
font-weight: bold;
color: khaki;
padding: 20px;

}


h2 {


  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {

    background-color: mediumspringgreen;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid mediumspringgreen;
}
.frames {

  background-color: maroon;
  border-radius: 5px;
  padding: 5px;
border: 2px solid maroon;
}
.paint {
border: 2px solid aqua;
    background-color: aqua;
  border-radius: 5px;
  padding: 5px;
 
}
h3.oprema {
    font-size: 16px;
    color: gray;
}

a {

  font-family: Helvetica;
  font-weight: normal;
  color: blue;

}
